@import url('https://fonts.googleapis.com/css?family=Bad+Script|Calistoga|Playfair+Display|Public+Sans|Source+Sans+Pro&display=swap');
{ }
*{
    box-sizing: border-box;
}
body {
    margin: 0;

    text-decoration: none;
}
/*----------------------------Estilos base--------------------*/
img {
display: block;
    width: 100%;
    max-width: 100%;
}
h1, h2, h3, h4, h4, h5, h6 {
    margin: 0;
}
.container {
    width: 100%;
    margin: auto;
}
.container--flex {
    display:flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
}
.column {
    width: 100%;
}
/*-----------------------Estilo header----------------------*/
.main-header {
    width: 100%;
}
.logo {
    width: 300px;
    padding: 0px 0px 0px 30px;
    font-family: 'Bad Script', cursive;
    text-decoration: none;
    font-size: 2.3em;
    color: white;
}
.logo-container {
    z-index:3000;
    position: fixed;
    left: 40px;
    top: 0px;
    text-decoration: none;
}

/*----------------------Estilos del menu---------------------*/


.main-nav {
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 2000;
    padding: 12px;
    background: rgba(0,0,0,1);
    font-family: 'Public Sans', sans-serif;
}
.icon-menu {
    display: block;
    color: #b79aed;
    cursor: pointer;
}
.social-icon {
    display: flex;
    justify-content: space-between;
}

.social-icon [class*="icon-"] {
    color:black;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    width: 35px;
    height: 35px;
    background: #b79aed;
    border-radius: 50%;
}
.social-icon__link {
    text-decoration: none;
}
.menu {
    position: absolute;
    top: 55px;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,.75);
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    height: 0;
    overflow: hidden;
    transition: height .3s linear;
}
.menu__link {
    display: block;
    padding: 15px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}
.menu__link:hover {
    transition: 0.5s;
    background: #4f2685;
}
.menu__link--select {
    background: #b79aed;

}
.mostrar {
    height: 343px;
}

/*--------------------Estilo de banner----------------------*/


.banner {
    margin-top: 0px;
    position: relative;
    height: 550px;
}
.banner:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    z-index: 1000;
    top: 0;
}
.banner__img {
    width: 100%;
    height: 550px;
    object-fit: cover;
}
.banner__content {
    width: 90%;
    color: white;
    padding: 10px;
    text-align: left;
    position: absolute;
    z-index: 1500;
    top: 17%;
    left: 7%;
    font-size: 2.2em;
    font-weight: bold;
    font-family: 'Bad Script', cursive;
}
.banner__content--text {
    color: white;
    padding: 10px;
    width: 50%;
    text-align: left;
    position: absolute;
    z-index: 1500;
    top: 25%;
    left: 5%;
    font-family: 'Bad Script', cursive;
}
.banner__content .banner__content--text main__txt{
    font-size: 2em;
}

/*--------------------Estilos principales--------------------*/


.group__title {
    padding: 30px;
    font-size: 2em;
    text-align: center;
}

.group--color .container {
    background: #2c1f45;
    color: white;
    padding: 30px;
    text-align: center;
}

.column__title {
    margin: 15px 0;
    font-size:1.8em;
	font-family: 'Helvetica', 'Arial', sans-serif;

	 line-height: 50px;
}
.column__text {
    text-align: justify;
	font-family: 'Helvetica', 'Arial', sans-serif;
}
.btn {
    display: block;
    text-align: center;
    text-decoration: none;
    width: 140px;
    background: white;
    color: #4f2685;
    padding: 10px;
    margin: 10px auto;
    font-family: 'Bad Script', cursive;
	border-radius: 5px;
}
.btn_shop {
    display: block;
    text-align: center;
    text-decoration: none;
    width: 400px;
    background: white;
    color: #4f2685;
    padding: 10px;
    margin: 10px auto;
    font-family: 'Bad Script', cursive;
	border-radius: 5px;
}
.main__img {
    height: 300px;
    object-fit: cover;
    padding: 20px;
	border-radius: 5%;
}

.text_foto {
    padding: 10px;
    margin: 0px;
    position: relative;
    top: -20px;
    font-size: 0.8em;
}

.img_baita {
        height:auto;
        object-fit: scale-down;
        padding: 0;
    }

.event__container {

}


/*----------------Estilos del footer-------------------*/

.main-footer {
    background: #222;
    color:white;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: .8em;
}

.copy {
    text-align: center;
    margin: auto;
    margin-top: 15px;
}
.main-footer [class*="icon-"]{
    color: white;
    text-decoration: none;
}

.main-footer [class*="icon-"]{
    position: relative;
    top: 3px;
    right: 5px;
}

.column--footer{
    width: 100%;
	text-align: center;
}



/*---------------Estilos slider shop ---------------------*/

.slidershow{
  width: 700px;
  height: 700px;
  overflow: hidden;
}
.middle{
  position: relative;
  top: 0%;
  left: 50%;
  transform: translate(-50%,0%);
}
.navigation{
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.bar {
  width: 53px;
  height: 53px;
  border: 2px solid #fff;
  margin: 6px;
  cursor: pointer;
  transition: 0.4s;
}
.bar:hover{
  background: #fff;
}
.ritrattomini{
  width: 50px;
  height: 50px;
  position: absolute;
}

input[name="r"]{
    position: absolute;
    visibility: hidden;
}

.slides{
  width: 1000%;
  height: 100%;
  display: flex;
}

.slide{
  width: 10%;
  transition: 0.6s;
}
.slide img{
  width: 100%;
  height: 100%;
}

#r1:checked ~ .s1{
  margin-left: 0;
}
#r2:checked ~ .s1{
  margin-left: -10%;
}
#r3:checked ~ .s1{
  margin-left: -20%;
}
#r4:checked ~ .s1{
  margin-left: -30%;
}
#r5:checked ~ .s1{
  margin-left: -40%;
}
#r6:checked ~ .s1{
  margin-left: -50%;
}
#r7:checked ~ .s1{
  margin-left: -60%;
}
#r8:checked ~ .s1{
  margin-left: -70%;
}
#r9:checked ~ .s1{
  margin-left: -80%;
}
#r10:checked ~ .s1{
  margin-left: -90%;
}

input[name="a"]{
    position: absolute;
    visibility: hidden;
}

#a1:checked ~ .s1{
  margin-left: 0;
}
#a2:checked ~ .s1{
  margin-left: -10%;
}
#a3:checked ~ .s1{
  margin-left: -20%;
}
#a4:checked ~ .s1{
  margin-left: -30%;
}
#a5:checked ~ .s1{
  margin-left: -40%;
}

input[name="b"]{
    position: absolute;
    visibility: hidden;
}

#b1:checked ~ .s1{
  margin-left: 0;
}
#b2:checked ~ .s1{
  margin-left: -10%;
}
#b3:checked ~ .s1{
  margin-left: -20%;
}



/*---------------Estilos Eventi-----------------*/
/*
img{
	width: 100%;
}

.event-post{
	width: 100%;
	max-width: 98rem;
	padding: 5rem;
	background-color: #fff;
	box-shadow: 0 1.4rem 8rem rgba(0,0,0,.2);
	display: flex;
	align-items: center;
	border-radius: .8rem;
}

.event-post___img {
	min-width: 35rem;
	max-width: 35rem;
	height: 30rem;
	transform: translateX(-8rem);
	position: relative;
}


.event-post__img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
	border-radius: .8rem;
}
*/


/*---------------Estilos responsive---------------------*/

@media screen and (max-width:400px){
    .logo {
        text-align: center;
    }
    .social-icon {
        display: none;
    }
    .icon-menu {
        position: relative;
        top: 15px;
    }
    .main-nav {
        height: 70px;
    }

}

@media screen and (max-width:450px){
    .logo {
        padding: 0px;
    }
}

@media screen and (min-width:450px){

    .cont_about2 {
        width: 100%;
    }
    .cont_img_about2 {
        width: 100%;
    }

}

@media screen and (max-width:550px){

    .banner_about {
        display: none;
    }

	.banner__content--text{
        top: 13%;
    }

}

@media screen and (min-width:550px){

    .logo-container {
        display: flex;
    }
    .banner__content--text{
        top: 32%;
    }
    .banner__content{
        top: 30%;
    }
    .banner_about_min {
        display: none;
    }
    .cont_met1 {
        width: 100%;
    }
    .cont_img_met1 {
        width: 100%;
    }
}

@media screen and (max-width:868px){
    .img_baita {
        height: 300px;
        object-fit: cover;
        padding: 0;
    }
    .slidershow{
      width: 400px;
      height: 400px;
      overflow: hidden;
    }
    .bar {
      width: 28px;
      height: 28px;
      border: 2px solid #fff;
      margin: 5px;
      cursor: pointer;
      transition: 0.4s;
    }
    .bar:hover{
      background: #fff;
    }
    .ritrattomini{
      width: 55px;
      height: 55px;
      position: absolute;
    }
    .cont_img_about2{
      height: 500px;
      overflow: hidden;
    }
}

@media screen and (min-width:868px){
    .column--50 {
        width: 49%;
    }
    .banner__content {
        font-size: 3em;
    }
    .banner__content--text {
        font-size: 1.4em;
        line-height: 30px;
    }
    .column__title {
        font-size: 2.2em;
    }
    .column__text {
        line-height: 30px;
        font-size: 1.2em;
    }
    .main__img {
        height: 450px;
    }
    .main__about__description .column__text {
        font-size: 1.1em;
    }
}

@media screen and (min-width:1150px){
    .icon-menu {
        display: none;
    }
    .menu {
        left: 350px;
        top: 3px;
        position: relative;
        display: flex;
        width: auto;
        height: auto;
        background: rgba(0,0,0,0);
    }
    .menu__link {
        padding: 10px;
    }
    .logo-container {
        left: 0px;
        max-width: 350px;
    }
    .main-footer {
        font-size: 1em;
    }
    .main__about__description {
        font-size: 1em;
    }
}

@media screen and (max-width:1450px){
  .column__title {
      font-size: 2.2em;
  }
  .column__text {
      line-height: 30px;
      font-size: 1.2em;
  }
  .slidershow{
    width: 400px;
    height: 400px;
    overflow: hidden;
  }
  .bar {
    width: 28px;
    height: 28px;
    border: 2px solid #fff;
    margin: 5px;
    cursor: pointer;
    transition: 0.4s;
  }
  .bar:hover{
    background: #fff;
  }
  .ritrattomini{
    width: 25px;
    height: 25px;
    position: absolute;
  }
}
