@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Montserrat+Alternates&display=swap');
{ }
*{
    box-sizing: border-box;
}
body {
    font-family: 'Public Sans', sans-serif;
    margin: 0;
}
/*----------------------------Estilos base--------------------*/
img {
display: block;
    width: 100%;
    max-width: 100%;
}
h1, h2, h3, h4, h4, h5, h6 {
    margin: 0;
}
.container {
    width: 100%;
    margin: auto;
}
.container--flex {
    display:flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
}
.column {
    width: 100%;
}
/*-----------------------Estilo header----------------------*/
.main-header {
    width: 100%;
}
.logo {
    width: 300px;
    padding: 10px;
}
.logo-container { 
    z-index:3000;
    position: absolute;
    left: 40px;
    top: 20px;
    display: none;
}

/*----------------------Estilos del menu---------------------*/


.main-nav {
    width: 100%;
    position: absolute;
    top: 20px;
    z-index: 2000;
    padding: 10px;
    background: rgba(0,0,0,.75);
}
.icon-menu {
    display: block;
    color: #B3B16F;
    cursor: pointer;
}
.social-icon {
    display: flex;
    justify-content: space-between;
}

.social-icon [class*="icon-"] { 
    color:black;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    width: 35px;
    height: 35px;
    background: #B3B16F;
    border-radius: 50%;
}
.social-icon__link { 
    text-decoration: none;
}
.menu { 
    position: absolute;
    top: 55px;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,.75);
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    height: 0;
    overflow: hidden;
    transition: height .3s linear;
}
.menu__link { 
    display: block;
    padding: 15px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}
.menu__link:hover { 
    background: #B3B16F;
}
.menu__link--select { 
    background: #B3B16F;
    
}
.mostrar { 
    height: 288px;
}

/*--------------------Estilo de banner----------------------*/


.banner { 
    margin-top: 0px;
    position: relative;
    height: 550px;
}
.banner:before { 
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    z-index: 1000;
    top: 0;
}
.banner__img { 
    width: 100%;
    height: 550px;
    object-fit: cover;
}
.banner__content { 
    width: 90%;
    color: white;
    padding: 10px;
    text-align: left;
    position: absolute;
    z-index: 1500;
    top: 17%;
    left: 7%;
    font-size: 2.2em;
    font-weight: bold;
}
.banner__content--text { 
    width: 90%;
    color: white;
    padding: 10px;
    width: 50%;
    text-align: left;
    position: absolute;
    z-index: 1500;
    top: 25%;
    left: 5%;
    font-family: 'Public Sans', sans-serif;
}
.btn--leer { 
    position: absolute;
    font-size: 0.8em;
    left: 5%;
}

/*--------------------Estilos principales--------------------*/


.group__title { 
    font-family: 'Public Sans', sans-serif;
    padding: 30px;
    font-size:2em;
    text-align: center;
}

.group--color .container { 
    background: #B3B16F;
    color: white;
    padding: 30px;
    text-align: center;
}

.column__title { 
    margin: 15px 0;
    font-size:1.8em;
    font-family: 'Montserrat Alternates', sans-serif;
}
.column__text { 
    font-family: 'Public Sans', sans-serif;
    text-align: left;
}
.btn { 
    display: block;
    text-align: center;
    text-decoration: none;
    width: 140px;
    background: white;
    color: #B3B16F;
    padding: 10px;
    margin: 10px auto;
}
.main__img { 
    height: 300px;
    object-fit: cover;
    padding: 20px;
}

/*----------------Estilos del footer-------------------*/

.main-footer { 
    background: #222;
    color:white;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: .8em;
}

.copy { 
    text-align: center;
    margin: auto;
    margin-top: 15px;
}
.main-footer [class*="icon-"]{ 
    color: white;
    text-decoration: none;
}

.main-footer [class*="icon-"]{ 
    position: relative;
    top: 3px;
    right: 5px;
}

.column--footer{ 
    width: 49%
}

.main-footer .column:nth-child(2) { 
    text-align: right;
}

/*---------------Estilos responsive---------------------*/

@media screen and (min-width:550px){ 
    .logo-container { 
        display: flex;
    }
    .banner__content--text{ 
        top: 38%;
    }
    .banner__content{ 
        top: 30%;
    }
}


@media screen and (min-width:768px){   
    .column--50 { 
        width: 49%;
    }
    .banner__content { 
        font-size: 2em
    }
    .banner__content--text { 
        font-size: 1.2em;
        line-height: 25px
    }
    .column__title { 
        font-size: 2.2em;
    }
    .column__text { 
        line-height: 30px;
        font-size: 1.2em;
    }
    .main__img { 
        height: 450px;
    }
    
}

@media screen and (min-width:1025px){
    .icon-menu { 
        display: none;
    }
    .menu { 
        left: 350px;
        top: 3px;
        position: relative;
        display: flex;
        width: auto;
        height: auto;
        background: rgba(0,0,0,0);
    }
    .menu__link { 
        padding: 10px;
    }  
    .logo-container { 
        left: 0px;
        max-width: 350px;
    }
}

